
@model CursosViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cursos</h2>
<form action="SalvarCurso" method="post">
    <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
    <input type="hidden" name="IdDadosPessoais" value="@ViewBag.IdDadosPessoais" />


    <label for="Id" class="control-label">Id</label>

    @if (ViewBag.Operacao == "I")
    {
        <input type="number" Name="Id" value="@Model.Id" class="form-control" />
    }
    else
    {
        <input type="number" Name="Id" value="@Model.Id" class="form-control" readonly />
    }

    <br />
    <label for="NomeCurso" class="control-label">Nome do curso</label>
    <input type="text" Name="NomeCurso" value="@Model.NomeCurso" class="form-control" />
    <br />

    <label for="Instituicao" class="control-label">Instituição</label>
    <input type="text" Name="Instituicao" value="@Model.Instituicao" class="form-control" />
    <br />
    <label for="QuantHoras" class="control-label">Curso</label>
    <input type="number" Name="QuantHoras" value="@Model.QuantHoras" class="form-control" />
    <br />

    <input type="submit" value="Proximo" class="btn btn-info" href="/Endereco/FormEndereco" />
    &nbsp;&nbsp;&nbsp;
    <a href="/Endereco/NovoEndereco" class="btn btn-light">Voltar</a>
</form>