
<link rel="stylesheet" href="css/listagem.css" />

@model List<ListCurriculosViewModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Currículos Cadastrados</h2>
<br />
<a href="/Curriculo/NewCurriculo">Novo currículo</a>
<br />
<br />

<div class="container">
    <div class="row">
        @foreach (var dados in Model)
        {
            {
                <button class="col-sm card-lote btn btn-light" style="margin: 5px; background-color:#66E3EB;">
                    <div class="col-sm">
                        <div class="container">

                            <table class="table table-responsive" style="justify-items:flex-start">

                                <tr><b>Código</b> - @dados.ID</tr>
                                <br />
                                <tr><b> CPF </b>- @dados.CPF</tr>
                                <br />
                                <tr><b>Nome</b> - @dados.Nome</tr>
                                <br />
                                <tr><b>CEP</b> - @dados.CEP</tr>
                                <br />
                                <tr><b>Rua</b> - @dados.Rua</tr>
                                <br />
                                <br />
                                <tr>
                                    <a href="/jogo/editar?id=@dados.ID" class="btn btn-info">Alterar</a>
                                    <a href="javascript:excluirJogo(@dados.ID)" class="btn btn-danger">Excluir</a>
                                </tr>


                            </table>

                        </div>
                    </div>

                </button>
            }
        }
    </div>
</div>


