
<link rel="stylesheet" href="css/listagem.css" />

@model List<ListCurriculosViewModel>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Currículos Cadastrados</h2>

<section>
    <div className="container">
        <div className="row conteudo">

            <div className="col-md-4">

                <div className="row card-lote">
                    <div className="conteudo-lote">

                        <div className="img-lote">

                        </div>

                    </div>
                </div>



            </div>


            <div className="row card-lote">
                <div className="conteudo-lote">

                    <div className="img-lote">

                    </div>

                </div>
            </div>

            <div className="row card-lote">
                <div className="conteudo-lote">

                    <div className="img-lote">

                    </div>

                </div>
            </div>

            <div className="row card-lote">
                <div className="conteudo-lote">

                    <div className="img-lote">

                    </div>

                </div>
            </div>


            <div className="col-md-4">

                <div className="row card-lote">
                    <div className="conteudo-lote">

                        <div className="img-lote">

                        </div>

                    </div>
                </div>

                <div className="row card-lote">
                    <div className="conteudo-lote">

                        <div className="img-lote">

                        </div>

                    </div>
                </div>

                <div className="row card-lote">
                    <div className="conteudo-lote">

                        <div className="img-lote">

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>



<a href="/Curriculo/NewCurriculo">Novo currículo</a>
<br />

<table class="table table-responsive">
    <tr>
        <th>Ações</th>
        <th>Código</th>
        <th>CPF</th>
        <th>Nome</th>
        <th>CEP</th>
        <th>Rua</th>
    </tr>
    @foreach (var dados in Model)
    {
        <tr>
            <td>
                <a href="/jogo/editar?id=@dados.ID" class="btn btn-info">Alterar</a>
                <a href="javascript:excluirJogo(@dados.ID)" class="btn btn-danger">Excluir</a>
            </td>
            <td>@dados.ID</td>
            <td>@dados.CPF</td>
            <td>@dados.Nome</td>
            <td>@dados.CEP</td>
            <td>@dados.Rua</td>

        </tr>
    }
</table>
