@model EnderecoViewModel

<h2>Cadastro de Endereco</h2>

<script>
	   function buscaCEP()
	   {
		   var cep = document.getElementById("cep").value;
		   cep = cep.replace('-', '');
		   if (cep.length > 0)
		   {
			   var linkAPI = 'https://viacep.com.br/ws/'+cep+'/json/';

				$.ajax({
					type: 'GET',
					url: linkAPI,
					datatype: "json",
					cache: false,
					beforeSend: function(){
						document.getElementById("logradouro").value = '...';
						document.getElementById("bairro").value = '...';
						document.getElementById("localidade").value = '...';
						document.getElementById("uf").value = '...';
					},
					success: function (dados) {
					   if (dados.erro != undefined)  // quando o CEP não existe...
					   {
						 alert('CEP não localizado...');
						 document.getElementById("logradouro").value = '';
						 document.getElementById("bairro").value = '';
						 document.getElementById("localidade").value = '';
						 document.getElementById("uf").value = '';
					   }
					   else // quando o CEP existe
					   {
						 document.getElementById("logradouro").value = dados.logradouro;
						 document.getElementById("bairro").value = dados.bairro;
						 document.getElementById("localidade").value = dados.localidade;
						 document.getElementById("uf").value = dados.uf;
					   }
					}
				});
			}
		}

</script>


<form asp-action="SalvarEndereco" method="post">

    <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
    <label for="Id" class="control-label">Código do Endereço</label>

    @if (ViewBag.Operacao == "I")
    {
        <input type="number" Name="idEndereco" value="@Model.idEndereco" class="form-control" />
    }
    else
    {
        <input type="number" Name="idEndereco" value="@Model.idEndereco" class="form-control" />
    }

    <label for="cep" class="control-label">CEP</label> <br>
    <input type="text" name="cep" id="cep" value="@Model.cep" class="form-control" />
    <input type="button" name="btnBuscaCEP" value="Buscar pelo CEP" onclick="buscaCEP()" class="btn btn-link" />
    <br>

    <label for="rua" class="control-label">Logradouro</label><br />
    <input type="text" name="rua" id="logradouro" value="@Model.rua" class="form-control" />
    <br>


    <label for="bairro" class="control-label">Bairro</label><br>
    <input type="text" name="bairro" id="bairro" value="@Model.bairro" class="form-control" />
    <br>

    <label for="cidade" class="control-label">Cidade</label><br>
    <input type="text" name="cidade" id="localidade" value="@Model.cidade" class="form-control" />
    <br>

    <label for="estado" class="control-label">Estado</label> <br>
    <input type="text" name="estado" id="uf" value="@Model.estado" class="form-control" />
    <br>

    <input type="submit" value="Salvar dados" class="btn btn-info" />
    &nbsp;&nbsp;&nbsp;
    <a href="/Curriculo/CadFormacaoAcademica">Proximo</a>
    <a href="/Endereco/index" class="btn btn-light">Voltar</a>


</form>


